<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>clientId</key>
	<string>0oa12nof9asRcoWhh0g6</string>
	<key>issuer</key>
	<string>https://devicesdk.hioktane.com/</string>
	<key>scopes</key>
	<string>okta.authenticators.manage.self okta.authenticators.read okta.users.read.self offline_access openid</string>
	<key>redirectUri</key>
	<string>com.hioktane.devicesdk:/callback</string>
	<key>logoutRedirectUri</key>
	<string>com.hioktane.devicesdk:/</string>
</dict>
</plist>
